{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
	<h1>Info about our company</h1>
	<p>He set out for a short walk, but now all he could see were mangroves and water were for miles. The efficiency we have at removing trash has made creating trash more acceptable. He poured rocks in the dungeon of his mind. The near-death experience brought new ideas to light. Martha came to the conclusion that shake weights are a great gift for any occasion. I purchased a baby clown from the Russian terrorist black market. He had reached the point where he was paranoid about being paranoid. The truth is that you pay for your lifestyle in hours. Nobody questions who built the pyramids in Mexico. I’m working on a sweet potato farm.</p>
</div>

{% endblock %}
